$brown: #3e2723;
$white: #e2e2e2;

$screenMd: 600px;
$screenLg: 992px;

$fontH1: 3.5rem;
$fontH2: 3rem;
$fontH3: 2.5rem;
$fontH4: 2.1rem;
$fontH5: 1.5rem;
$fontH6: 1.3rem;
$fontP: 1.1rem;

html {
  background-color: $brown;
  font-family: "Times New Roman", Times, serif;
}
h1{
  font-size: $fontH1;
}
h2{
  font-size: $fontH2;
}
h3{
  font-size: $fontH3;
}
h4{
  font-size: $fontH4;
}
h5{
  font-size: $fontH5;
}
p{
  font-size: $fontP;
}

h1, input {
  color: $white;
}

button:hover, button.cyan:hover{
  background-color:rgba(0, 0, 0, 0.6)!important;
  color: $white;
}

img {
  max-width: 100%;
}
.album-col{
  &:nth-child(4n+1){
    clear: both;
  }
  @media only screen and (max-width: $screenLg) {
    &:nth-child(4n+1){
      clear: none;
    }
    &:nth-child(2n+1){
      clear: both;
    }
  }
}
